* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}


:root {
    --Pblack: #0d444a;
    --Black: #0d0f149b;
    --Second: #0D0E0F;
    --DipBlue: #1D69DB;
    --Blue: #3865A8;
    --Sblue: #3E5475;
    --Text: rgb(255, 255, 255);
}

.root {
    margin: 0px;
    padding: 0px;
}

.my-video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.logo {
    width: 60px;
}

.search {
    width: 400px;
    border-radius: 0px !important;
}

.searchbox {
    width: 100%;
    height: 100%;
    padding: 5px 0px;
    outline: none;
    font-size: 16px;
    color: var(--Pblack);
    border-radius: 0px !important;
    background-color: white;

}

.searchbox::placeholder {
    color: var(--Pblack);
    font-size: 16px
}

.searchIcon {
    width: 22px;
    margin: 0px;
    margin-right: 5px;
    filter: contrast(0.2);
    filter: invert(0);


}

.cart {
    background-color: var(--Text);
    display: flex;
    align-items: center;

}

.cart::before {
    content: "";
    background-image: url(components/assest/icons/shopping-cart\ \(2\).svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;




}

.input_bar {
    padding: 5px;
    border: 1px solid var(--Pblack);
    border-radius: 2px;
    background-color: white;


}

header {
    width: 100%;
    height: 80px;
    background-color: black;
    color: var(--Text);
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    z-index: 5;
    font-size: 15px;

}

.notifcation {
    width: 20px;
    height: 20px;
    background-color: red;
    color: var(--Text);
    border-radius: 50px;
    font-size: 10px;
    /* padding: 5px; */
    top: -10px;
    right: -10px;
    text-align: center;
    line-height: 20px;

}


.nav-link {
    border-radius: 5px;

}

.nav-item:hover .nav-link:not(.cart) {
    background-color: white;
    color: black;
}

.input_bar:hover {
    outline: 2px solid #ffffff;
}

/* #myvideo{
   display: block;
   margin: auto;
   height: auto;
   position: absolute;
   top: 70px;
   bottom: 0px;
   left: 0px;
   right: 0px;

   height: 600px;
   width: 100%;

} */

.home {
    width: 100%;
    min-height: 600px;
    margin-top: -17px;


}

.backgroundImage {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin-top:-18px ;


}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.32);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {

    margin-bottom: 0px;

}

/* .headline span{
    border-bottom: 1px solid white;
} */
.items::-webkit-scrollbar {
    display: none;
}

.items {
    width: 900px;
    height: 350px;
    margin: auto;
    overflow: scroll;
    display: flex;
    align-items: end;

}

.slider {
    width: 200%;
    margin-top: auto;
    display: flex;
    align-items: end;



}

.item {
    width: 300px;
    height: 300px;
    padding: 30px;

}

.ns-item {
    border: 1px solid white;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homeShop {
    /* width: 150px; */
    background-color: white;
    color: black;
    border: none;
    padding: 7px 45px;

}

.homeShop:hover {
    background-color: var(--Blue);
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.conteniar-1 {
    width: 100%;
    height: auto;
    background-color: #000000;
    margin-top: 31px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 30px;

}

.secondDiv {
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */


}

.featureProductHeading {
    color: white;
    margin-bottom: 50px;
}

.Featur_slider {
    width: 1100px;
    height: 550px;
    /* border: 1px solid white; */
    overflow: scroll;
}

.Feature_items {
    width: 300%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Feature_item {
    width: 550px;
    height: 550px;
    /* border: 1px solid white; */
    padding: 40px;
}

.ns_Feature_item {
    width: 100%;
    height: 320px;
    border: 1px solid white;
}

.rightarrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    background-color: transparent;
    border: none;
    transition: 500ms ease-in-out;
}

.rightarrow:hover img {
    transition: 200ms ease-in-out;
    opacity: 0.7;
}

.rightarrow img {
    width: 80px;
    height: 80px;
    filter: invert(1);
    opacity: 0.2;

}

.leftarrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    background-color: transparent;
    border: none;
    transition: 500ms ease-in-out;
}

.leftarrow:hover img {
    transition: 200ms ease-in-out;
    opacity: 0.7;
}

.leftarrow img {
    width: 80px;
    height: 80px;
    filter: invert(1);
    opacity: 0.2;
}



.content {
    width: 100%;
    height: auto;
}


.newsletter {
    width: 100%;
    height: 220px;
    /* border: 1px solid white; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid white;
}

.Ncontent {
    width: 50%;
    height: 100%;
    /* border: 1px solid white; */
    padding: 20px 50px 20px 50px;
}

.subscribe {
    width: 50%;
    height: 100%;
    /* border: 1px solid white; */
}

.newsletter_heading {
    font-weight: 100;

}

.email_id {
    width: 300px;
    height: 40px;
    border: 1px solid var(--Pblack);
    outline: none;
    padding: 0px 10px;
}
.email_id::placeholder{
    font-size: 15px;
}

.ns_subscribe {
 margin-top: 100px;
 margin-left: 40px;

    
}

.subscribe_btn {
    height: 40px;
    border: var(--Pblack);
    margin-left: 10px;
    padding: 0px 30px;
    background-color: var(--Pblack);
    
}


.Tproduct{
    width: 100%;
    height: 85vh;
    /* border: 1px solid white; */
    margin-top: 80px;
    border-bottom: 1px solid white;

}
.ns_Tproduct{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;

}
.itemsz{
    width: 33.33333%;
    height: 100%;
    /* border: 1px solid white; */
    padding: 20px ;
}
.ns_item{
    width: 90%;
    height: 80%;
    border: 1px solid white;
    margin:auto;
   
    

}
.disss{
 width: 90%;
 height: 20%;
 margin: auto;
 /* border: 1px solid white; */
 padding: 10px 30px 10px 0px ;

}
.productNamex{
    width: 50%;
    height: auto;
    text-align: center;
    display: block;
}

.DblProduct{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
}
.item_1{
    width: 80%;
    height: 35%;
    border: 1px solid white;
}
.item_2{
    width: 80%;
    height: 35%;
    border: 1px solid white;
}

.aboout{
    width: 60%;
}
.aboutHeading{
    font-weight: 200;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.headfooter{
    width: 100%;
    height: 250px;
}
.footer{
    width: 100%;
    height: 240px;
    padding: 0px 0px 0px 30px;
    margin: 0px;
    display: flex;

}
.footerItems_1{
    width: 30%;
    height: 100%;
    border: 1px solid white;
  

}
.footerItems_1 img{
    width: 130px ;
    height: 130px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.footerItems_1 address{
    width:70%;
    margin: auto;
    display: block;

}

.footerItems_2{
    width: 17%;
    height: 100%;
    border: 1px solid white;

}
.footerItems_3{
    width: 17%;
    height: 100%;
    border: 1px solid white;

}
.footerItems_4{
    width: 17%;
    height: 100%;
    border: 1px solid white;

}
.footerItems_5{
    width: 17%;
    height: 100%;
    border: 1px solid white;

}
.footerNav{
    padding: 0px;
}
.footerNav{
    list-style: none !important;
    font-size: 14px;
    line-height: 25px;
   
}
.footerNav li{
    width: 100%;
    padding: 7px 20px;

}
.footerNav .flink:hover{
    background-color: white;
    
}
.footerNav .flink:hover a{
color: black !important;
}

.footerNav li a{
    text-decoration: none !important;
    color: white !important;
}


.starImg{
    width: 16px;
    height: 16px;
    filter: invert(1);
   margin: 2px;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Images */
.ns-item:hover img{
transform: scale(1.2);
transition: 500ms ease-in-out;


}
/* .Fimg_1{
    background-image:url(components/assest/images/Fwatch.jpg) ;
    background-size: cover;
    background-position: center;
} */

.Fimg_1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms ease-in-out;
}