.shop {
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid white;

}

.main {}

.shopEmail {
    width: 550px;
    text-align: center;
    margin: auto;

}

.feature_categories {
    width: 100%;
    height: 100vh;
    /* border: 1px solid white; */
    padding-top: 50px;
    padding-bottom: 100px !important;
}

.ShopItem {
    width: 100%;
    height: 500px;
    /* border: 1px solid white; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 30px 0px 30px;

}

.ns-shop-item {
    width: 25%;
    height: 450px;
    padding: 15px;

}

.Shop_item_0 {
    width: 100%;
    height: 100%;
    border: 0.5px solid white;

}

.lh {
    line-height: 400px;
}

.shopnews {
    border-top: 1px solid white !important;
    margin-top: 30px !important;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.withNewsletter {
    width: 98%;
    margin-top: 50px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 250px 500px;


}

.browser {
    margin: auto;
    padding: 6px 35px;
    border: none;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 18px;
}

.browser:hover {
    background-color: var(--Pblack);
    color: white;
}

.shop_parents {
    row-gap: 30px;
}

.shopItem {
    width: 48%;
    height: 130px;
    display: flex;


}

.imageItem {
    width: 40%;
    height: auto;
}

.ProductNameItem {
    width: 60%;
    height: auto;
}




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.shopping {
    width: 100%;
    height: 120px;
    padding: 0px 20px;
    border-bottom: 1px solid rgb(125, 121, 121);
    /* position: relative; */
    margin-top: 0px;
}

.cart_item {
    width: 30%;
    height: 100%;
    /* border-bottom: 1px solid rgb(90, 85, 85); */
    padding: 30px 50px 0px 50px;

}

.yourcart {
    width: 60%;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%);
}

.yourcart:hover {
    border-bottom: 1px solid white;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.shoppingmenu {
    height: auto;
    /* border: 1px solid white; */
}

.w-75 {
    min-height: 420px;

}

.w-25 {
    min-height: 420px;

}


.cartShoping {
    font-weight: 200;
    border-bottom: 0.5px solid white;
}

.addProducts {
    width: 100%;
    height: 140px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.cartImg {
    width: 150px;
    height: 130px;
    /* padding: 20px; */

}

.cartProductname {
    width: 50%;
    height: 130px;
    margin-left: 20px;
    padding: 15px;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;

}

.quantity {
    width: 25%;
    height: 130px;
    margin-left: 10px;
    padding: 20px;
}

.discripation {
    font-size: 15px !important;

}

.cartQuantity {
    width: 60px;
    height: 40px;
    display: block;
    margin: auto;
    border: 1px solid white;
    background-color: black;
    color: white;
    outline: none;
    padding: 0px 0px 0px 5px;
    margin-top: 40px;
}

.cartQuantity::-webkit-inner-spin-button {
    display: block;
    width: 20px;
    height: 40px;
}

.coupon {
    display: block;
    font-weight: 500;
    border-bottom: 0.5px solid white;
    padding: 0px 10px 10px 10px;
}

.bill {
    width: 100%;
    height: auto;
    /* border: 1px solid white; */
    line-height: 40px;

    padding: 10px 10px 20px 10px;
    border-bottom: 0.5px solid white;
}

.bill span {
    font-weight: 200;
    color: white !important;
}

.total span {
    font-size: 18px;
}

.justborder {
    border-bottom: 0.5px solid white;
    padding-bottom: 40px;
}

.cancel {

    padding: 8px 40px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 1px solid white;
    margin-right: 10px;
    margin-left: 30px;

}

.next {
    padding: 8px 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(191, 182, 182);
    border: 1px solid rgb(255, 255, 255);

}

.cancel:hover {
    background-color: rgb(212, 205, 205);
    color: black;
}

.next:hover {
    background-color: black;
    color: white;
}

.CDImg {
    width: 80px;
    height: 80px;
}

.CDcartProductname {
    flex-direction: column;
    margin-left: 20px;
    align-items: start;
}

.form::placeholder {
    font-size: 16px;

}

.form {
    height: 40px;
    outline: none;
    padding: 0px 10px;
    border-radius: 0px;
    border: 1px solid white;
}

.name {
    width: 330px;


}

.address1 {
    width: 100%;

}


.mainform {
    border-bottom: 0.5px solid white;
    padding-bottom: 30px;
}

.freeshipping {
    width: 330px;
    height: 100px;
    background-color: rgb(132, 132, 132);
    align-items: center;
    padding: 0px 20px;
}

select {
    color: rgb(97, 93, 93);
}

.cartfooter {
    width: 250px;
    margin-top: 40px;

}


/* ................/////////////////////////////////// */


.creditcard {
    width: 90%;
    margin: auto;
    border: 1px solid white;
    height: 250px;
    padding: 10px 20px;
}

.enterCard::placeholder {
    font-size: 20px;
    font-weight: 300;

}

.expry {
    width: 110px;
    margin-left: 20px;
    text-align: center;

}

.carddis {
    font-size: 12px;
    margin-top: -5px !important;
}

.paypal {
    height: 120px;
    margin-top: 30px;
}



/* >>>>>>>>>>>>>>>A>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>BBbbbbout>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>/?????????????? */


.Abackgroundimage {
    width: 100%;
    height: 500px;
    background-color: rgb(172, 40, 40);
}
.Aflex{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    transform: translateY(-100px);

}

.AaboutME {
    /* border: 1px solid white; */
    text-align: center;
font-size: 12px !important;
}

.Atime_now {
    display: block;
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 14px;
    color: white !important;
    margin-bottom: 10px;

}
.whoweare{
    font-size: 22px;
    color: white;
    font-weight: 600;
}

.justBorder{
    width: 40px;
    border-bottom: 0.5px solid white;
    margin: auto;
    margin-top:20px !important ;
}

.Adiscripation{
    width: 60%;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 80px;
}
.reasons{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 100px;
}


.AImg{
    width: 50px;
    height: 50px;
 
    object-fit: cover;
}
.Adiscription{
    font-size: 14px;
}

.trust{
    display: block;
    width: 40px !important; 
    height: auto !important;
    filter: invert(1);
}



.Abackgroundimages{
    width:100%;
    height: 650px;
    margin-top: 40px;
}

.A_Image{
    background-image: url(./components/assest/images/AboutBackgorundImage.webp);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;

}

.Aitem{
    width: 100%;
    height: 300px;
    /* margin-top: 50px; */
}

.Aitem:not(:last-child){
   border-right: 0.5px solid white; 
}

.Aitem2{

}

.luxury{
    width: 75%;
    
}
.Aluxury{
    margin-bottom: 70px;
    margin-top: 70px;
}
.contactEmail{
    height: 200px;
}

.AboutFooter{
    border-top: 1px solid white;
    padding: 40px;
}

.border_right{
    border: 0.5px solid white;
}


/* <>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<> */
.scale{
    overflow: hidden;
    border-radius:6px ;
    
 
}
.Shop_item_0{
    transition: 500ms ease-in-out;
}
.scale:hover img{
transform: scale(1.2);
transition: 500ms ease-in-out;
}
.imageItem{
    overflow: hidden;
}
.imageItem:hover .shopImageAll{
transform: scale(1.2);
transition: 500ms ease-in-out;

}
.si_1{
    background-image: url(./components/assest/images/si_1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.si_2{
    background-image: url(./components/assest/images/si_2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.si_3{
    background-image: url(./components/assest/images/si_3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.si_4{
    background-image: url(./components/assest/images/si_4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.si_1:hover{
    background-image: url(./components/assest/images/si_3_1.webp);
    transition: 500ms ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.si_2:hover{
    background-image: url(./components/assest/images/si_2_1.gif);
    background-repeat: no-repeat;
    background-size: cover;

}
.si_3:hover{
    background-image: url(./components/assest/images/si_1_1.webp);
    background-repeat: no-repeat;
    background-size: cover;

}

.wnews{
    background-image: url(./components/assest/images/wnews1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.wnews:hover{
    background-image: url(./components/assest/images/wnews1_1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}